---
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro";
import LandinHeader from "../components/LandinHeader.astro";
import Model from "../components/Model.astro"; 
import Layout from "../layouts/Layout.astro";
import ModelS from "../components/ModelS.astro";
import ModelX from "../components/ModelX.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout tiitle="Copia de la página de tesla">
	<LandinHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection/>
		</div>
		<div class="snap-center">
			<ModelS/>
		</div>
		<div class="snap-center">
			<Model/>
		</div>

          <div class="snap-center">
            <ModelX/>
		  </div>
		<div class="snap-center">
			<ChargeSection/>
		</div>

	



		
		

	</main>
</Layout>
