<section
			class="bg-black h-screen w-screen text-center overflow-hidden relative"
            data-header-color="black"
		>
			<div class="z-30 relative h-full flex flex-col">
				<header class="[&>p]:text-white [&>p]:text-sm   ">
					<h2 class="text-black pt-40 text-[40px] font-medium">
						ModelX
					</h2>
					<p>
						Desde $65,900
					</p>
                    <p class=" text-sm underline">
						Despues de impuesto federal de credito $7,500 
					</p>
				</header>

				<footer class="flex flex-col flex-grow justify-end"> 
					<div class="gap-x-4 flex m-auto ">
						<a
							class= " bg-blue-400 text-sm rounded font-medium text-black px-12 py-2 inline-block "
							href="#">Ordenar ahora</a
						>

                        <a
							class=" bg-white text-sm  rounded font-medium text-black px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
							href="#">Aprender más</a
						>
					</div>
				</footer>
			</div>

			<div class="absolute top-0 bottom-0 h-full w-full z-10">
				<img 
                src="ModelX.avif" 
                alt="Model Y" 
                class="h-full w-full object-cover object-center">
			</div>
		</section>